<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.universityproject">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MAPS_RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        // Meta data used to declare the Google Maps API version being used.
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        // Meta data: The value of this is the API key for the application for Google MAPS.
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBjHV1Mm9NEwdTvIKwCU4Uw-WaT7z7PmFA" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationWarnningPopUp"
            android:label="LocationWarnningPopUp"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".Maps" />
        <activity android:name=".PostRecyclerActivity" />
        <activity android:name=".NewPost" />
        <activity android:name=".ReplyRecycler" />
        <activity android:name=".ReplyPost"></activity>
    </application>

</manifest>